
{% extends "layout.html" %}
{% block body %}

	<div id="our-team">
		<div class="container">
			<div class="text-center">
				<h3>Our Agents</h3>
				<p>They will help you Solve your Problem<br>& Provide best Facility to you</p>
			</div>
			<div class="row">
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<img src="../static/img/team/1.png" alt="">
						<h2>Rohan</h2>
						<h4>Manager</h4>
						<p>Phone No-11111111</p>
					</div>
				</div>
				<div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<img src="../static/img/team/2.png" alt="">
						<h2>Mohan</h2>
						<h4>Assitent Manager</h4>
						<p>Phone No-2222222222</p>
					</div>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<img src="../static/img/team/3.png" alt="">
						<h2>Ankur</h2>
						<h4>Driver</h4>
						<p>Phone No-3333333</p>
					</div>
				</div>
			</div>
		</div>
    </div>

{% endblock %}