{% extends "layout.html" %}
{% block body %}

<div id="feature">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h3>Features</h3>
					<p>Providing you the possible BUS and Service<br>To our Customer</p>
				</div>
				<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<i class="fa fa-laptop"></i>
							<h2>Fully Compatible</h2>
							<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<i class="fa fa-heart-o"></i>
							<h2>Always Ready & Clean</h2>
							<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<i class="fa fa-cloud"></i>
							<h2>Fully A/C</h2>
							<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<i class="fa fa-camera"></i>
							<h2>Less Cost</h2>
							<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}