{% extends "layout.html" %}
{% block body %}

	<div id="pricing">
		<div class="container">
			<div class="text-center">
				<h3>Pricing Table</h3>
				<p>Here you can Select the According to your pocket<br>
				& according to your comfort</p>
			</div>

			<div class="pricing-area text-center">
                <div class="row">
                    <div class="col-sm-4 plan price-one wow fadeInDown" data-wow-offset="0" data-wow-delay="0.2s">
                        <ul>
                            <li class="heading-one">
                                <h2>High Class</h2>
                                <span>1200</span>
                            </li>
                            <li>Window seat</li>
                            <li>WI-Fi</li>
                            <li>Mobile Charging Point</li>
                            <li>Sleeping Seat</li>
                            <li>Food</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Sign up</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 plan price-two wow fadeInDown" data-wow-offset="0" data-wow-delay="0.6s">
                        <ul>
                            <li class="heading-two">
                                <h2>Standard Class</h2>
                                <span>1100</span>
                            </li>
                            <li>Window seat</li>
                            <li>WI-Fi</li>
                            <li>Mobile Charging Point</li>
                            <li>Sleeping Seat</li>
                            <li>Food</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Sign up</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 plan price-three wow fadeInDown" data-wow-offset="0" data-wow-delay="0.9s">
                        <img src="../static/img/ri.png">
                        <ul>
                            <li class="heading-three">
                                <h2>Premium Class</h2>
                                <span>1000</span>
                            </li>
                            <li>Window seat</li>
                            <li>WI-Fi</li>
                            <li>Mobile Charging Point</li>
                            <li>Sleeping Seat</li>
                            <li>Food</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Sign up</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-3 plan price-four wow fadeInLeft">
                        <ul>
                            <li class="heading-four">
                                <h2>Basic Class</h2>
                                <span>800</span>
                            </li>
                            <li>Window seat</li>
                            <li>WI-Fi</li>
                            <li>Mobile Charging Point</li>
                            <li>Sleeping Seat</li>
                            <li>Food</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Sign up</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-3 plan price-five wow fadeInLeft">
                        <ul>
                            <li class="heading-five">
                                <h2>Basic Standard class</h2>
                                <span>600</span>
                            </li>
                            <li>Window seat</li>
                            <li>WI-Fi</li>
                            <li>Mobile Charging Point</li>
                            <li>Sleeping Seat</li>
                            <li>Food</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Sign up</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-3 plan price-six wow fadeInRight">
                         <img src="../static/img/rib.png">
                        <ul>
                            <li class="heading-six">
                                <h2>Basic Premium Class</h2>
                                <span>500</span>
                            </li>
                            <li>Window seat</li>
                            <li>WI-Fi</li>
                            <li>Mobile Charging Point</li>
                            <li>Sleeping Seat</li>
                            <li>Food</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Sign up</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-3 plan price-seven wow fadeInRight">
                        <ul>
                            <li class="heading-seven">
                                <h2>VIP</h2>
                                <span>2000</span>
                            </li>
                            <li>Window seat</li>
                            <li>WI-Fi</li>
                            <li>Mobile Charging Point</li>
                            <li>Sleeping Seat</li>
                            <li>Food</li>
                            <li class="plan-action">
                                <a href="" class="btn btn-primary">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--/pricing-area-->
		</div>
	</div><!--/#pricing-->

{%  endblock %}